*{
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background:#f5f5f5;
    height: 100vh;
}
header{
     position:fixed;
     top:0;
        left:0;
        width:100%;        
background:black;
        display:flex;
        justify-content:space-between;
        align-items:center;
        box-shadow:0 5px 15px rgba(0,0,0,0.1);
        z-index:100;
}
header .logo{
    color:#fff;
    font-size:2em;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:4px;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
 
}
header .logo:hover{
    color:#ff3d00;
    text-decoration:none;
    backdrop-filter: blur(30px);
    cursor:pointer;
    }
.top-nav ul{
     padding: 3px;
     margin-top: 30px;
     display:flex;
     list-style:none;

}
.top-nav li a{
    color:#fff;
    text-decoration:none;
    font-size:1.2em;
    font-weight:500;
    transition: 0.5s;
         margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}
.top-nav li a:hover{
    color:black;
    background:white;
    border-radius: 4px;
    height:24px;
    cursor:pointer;
}
.content{
    margin-top:10px;
    display:flex;             
   padding: 100px 20px;
}
.content .left-nav{
    display:block;
    margin:0;
}

.left-nav ul{
    list-style:none;
    padding:0;
    margin-bottom: 20px;
    height:100vh;   
    border-right: 2px solid rgb(202, 202, 202);
    position:fixed;
}
.left-nav ul li a{
    text-decoration:none;
    color:black;
    font-size:1.5em;
    display:block;
    border-radius: 10px;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5px;
    border: none;
    margin-top: 0px;
    overflow: auto;
}
.left-nav ul li a:hover{
    background:goldenrod;
    color:#fff;
    padding: 6px;
    opacity: 1;
    letter-spacing: 1.5px;
    gap: 20px;
    cursor:pointer;
}
.main-content{
    margin-left:500px;
    margin-top: 80px;
}

.main-content h1{
    font-size:3em;
    margin-bottom:10px;
    font-family: erica one, sans-serif;
    color:rgb(68, 68, 68);
}
.main-content p{
    font-size:1.6em;
    margin-bottom:10px;
    color:gold;
}
.main-content button{
    background:black;
    color:#fff;
    border:none;
    font-size: 1.2em;
    padding:10px 20px;
    margin-right:10px;
    border-radius:5px;
    cursor:pointer;
    display: flex;
    transition: 1s;
}
.main-content button:hover{
    background:white;
    color:black;
}
.html-content{
    align-items: center;
    justify-content: center;
   margin-left: 400px;

   
   display: none;
}
.html-content h2{
    font-size:3em;
    margin-bottom:10px;
    font-family: erica one, sans-serif;
    color:rgb(68, 68, 68);
}

 
#htmlbtn{
    border:none;
    background:none;

}
.css-content{
   margin-left: 400px;
align-items: center;
    justify-content: center;
   
   
   display: none;
}
.css-content h2{
    font-size:3em;
    margin-bottom:10px;
    font-family: erica one, sans-serif;
    color:rgb(68, 68, 68);
}
   .javascript-content{
    align-items: center;
    justify-content: center;
    margin-top:50px;
  display:none;
     margin-left: 400px;
   }
   .javascript-content h2{
    font-size:3em;
    margin-top:20px;
    font-family: erica one, sans-serif;
    color:rgb(68, 68, 68);
   }
   .python-content{
    align-items: center;
    justify-content: center;
    display:none;
   }
   .java-content{
    align-items: center;
    justify-content: center;
    display:none;
   }
   .react-content{
    align-items: center;
    justify-content: center;
    display: none
   }
   .node-content{
    align-items: center;
    justify-content: center;
    display: none;
   }
button{
    display: block;
    border:none;
    background:none;
    margin: 20px;
    margin-top:4px;
    cursor:pointer;
}
details{margin-left: 200px;
    margin-top: 20px;
    font-size: 1.5em;
    color: rgb(68, 68, 68);
    position: relative;
}
@media screen and ( width:724px) {
    body{
        width:100%;
    }
.top-nav ul li{
    display:none;
}

    
   
}
.btn{
    color:black;
    background-color:white;
    font-size:1.5em;
    border-radius: 5px;
    margin-left: 100px;
    margin-right:30px;
    padding:6px;
}
.about-section{
    align-items: center;
    justify-content: center;
    margin-left:500px; 
    margin-top:200px;
    color:black;
    width: 100%;
}


.about-section h3{
    font-size:2.9em;
    text-shadow: #ff3d00;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.about-section p{

    margin-right: 60px;
    width: 100%;
}